{% extends 'base.html' %}
{% block css %}
<link href="../static/css/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
    <form method="POST">
        <div>
            {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name() }}
        </div>
        {{ form.submit }}
    </form>
    <div>
        {% for crypto in data %}
        <p>
            <span>{{crypto.name}}</span>
            <span>{{crypto.price}}</span>
        </p>
        {% endfor %}
    </div>
</div>
{% endblock %}